/*----------------general styling---------------------*/
:root {
  --background-color: whitesmoke;
  --text-color: black;
  --heading-color: #6320ee;
  --background-header: black;
  --background-header-2: white;
  --accent-header: rgba(255, 255, 255, 0.2);
  --footer-color: #cad5ca;
  --hire-me-button: rgb(108, 0, 130);
  --nav-background: grey;
}

/*Create a global box sizing that uses box-sizing: border-box*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* Introduce breakpoints for medium and large screens
 Increase the overall font size at both breakpoints*/

@media screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .nav-link + .nav-link {
    margin-left: 1rem;
  }
}

@media screen and (max-width: 767px) {
  .nav-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 16px;
  }
}

/* Increase the spacing between the main articles beginning with the medium break point */
@media print {
  .main > * + * {
    margin-top: 5rem;
  }
}

/*Define a default font for your document*/
/* The general font family should be inherited from the <html> element*/
html {
  font-family: "Cinzel", serif;
  font-size: 20px;
  font: inherit;
}

/*Remove the default margin from the <body> element*/
body {
  margin: 0;
}

h1 {
  font-size: 5rem;
}

/*Define a different font for all heading elements*/

h2,
h3 {
  font-family: "Rajdhani", sans-serif;
  font-size: 2.5rem;
}

h1,
h2,
h3 {
  color: var(--heading-color);
}

/*Change the selection style of the document*/
::selection {
  background-color: var(--backgroun-header);
  color: var(--background-color);
}

/*----------------Specific Styling---------------------*/
/*Specific Styling should be based on classes*/

/*Add a padding to the header and main element within the body*/
.header {
  background-color: var(--background-header);
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-align: center;
  transform: skewY(-8deg);
}

@media print {
  .navigation {
    display: none;
  }
}

.main {
  max-width: 110ch;
  padding: 1rem;
  margin: 0 auto;
}

.profession {
  color: var(--heading-color);
}

.profession::after {
  content: "🦾";
}

/* Add spacing between the navigation links */
/*Add a general color for the navigation links*/
.nav-link {
  padding: 1.3rem;
  color: var(--heading-color);
  font-size: 2rem;
  transition: background-color 0.5s ease-in-out;
}

/* Add specific styling for the :hover and :active state  */
.nav-link:hover {
  background-color: wheat;
}

.nav-link:active {
  color: var(--heading-color);
}

/* Add spacing between the different areas of your main content*/
/*Use the border property to draw a line over each article of the main content except for the first one*/
.main > * {
  border-top: 0.2rem solid var(--text-color);
  padding: 0 2rem;
  margin-top: 3rem;
}

.main > *:first-child {
  border-top: none;
  padding-top: 2rem;
}

.experiences-header {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .experiences-header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
}

.main article {
  padding-left: 2rem;
}

.article-heading {
  position: relative;
  left: -2rem;
}

@media screen and (max-width: 992px) {
  .hire-me {
    margin: auto;
    width: fit-content;
    margin-top: 1em;
    padding: 1rem;
    background-color: rgb(108, 0, 130);
    border-style: solid light-grey;
    border-radius: 1rem;
    color: #ffffff;
  }
}

@media screen and (min-width: 992px) {
  .hire-me {
    display: none;
  }
  .hire-me2 {
    position: fixed;
    top: 10rem;
    right: 3rem;
    padding: 1rem;
    background-color: var(--hire-me-button);
    border-style: solid light-grey;
    border-radius: 1rem;
    color: #ffffff;
    transform: skewY(-8deg);
  }
}

@media print {
  .hire-me {
    display: none;
  }
}

.heading-group {
  font-size: 5rem;
}

.Main-Heading {
  font-size: 1.2em;
}

.profession {
  font-size: 0.5em;
}

.footer {
  padding: 1rem;
  background-color: var(--footer-color);
  text-align: center;
}

button {
  background-color: #4caf50;
  color: var(--background-header-2);
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
  border-radius: 2rem;
}

.button:hover {
  box-shadow: 0 2rem 1rem 0 rgba(216, 44, 44, 0),
    0rem 1rem 1rem 0 rgba(8, 8, 8, 0.363);
}
