/*----------------general styling---------------------*/

/*Create a global box sizing that uses box-sizing: border-box*/
*,
*::before *::after {
  box-sizing: border-box;
}

/*Define a default font for your document*/
/* The general font family should be inherited from the <html> element*/
html {
  font-family: "Cormorant SC", serif;
  font-size: 20px;
  font: inherit;
}

/*Remove the default margin from the <body> element*/
body {
  margin: 0;
}

h1 {
  font-size: 4rem;
}

/*Define a different font for all heading elements*/

h2,
h3 {
  font-family: "Lora", serif;
  font-size: 2rem;
}

/*Define a different font for all heading elements*/

h2,
h3 {
  font-family: "Lora", serif;
  font-size: 2rem;
}

h1,
h2,
h3 {
  color: #00adb5;
}

/*Change the selection style of the document*/
::selection {
  background-color: black;
  color: whitesmoke;
}

/* Introduce breakpoints for medium and large screens
 Increase the overall font size at both breakpoints*/
@media screen and (min-width: 300px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
}

@media print {
  .hire-me {
    display: none;
  }
}

@media print {
  .navigation {
    display: none;
  }
}

/* Increase the spacing between the main articles beginning with the medium break point */
@media print {
  .main > * + * {
    margin-top: 5rem;
  }
}

@media screen and (min-width: 992px) {
  .hire-me {
    position: fixed;
  }
}

/*----------------Specific Styling---------------------*/
/*Specific Styling should be based on classes*/

/*Add a padding to the header and main element within the body*/
.header {
  background-color: #222831;
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-align: center;
  transform: skewY(-8deg);
}

.main {
  max-width: 110ch;
  padding: 2rem;
  margin: 0 auto;
}

.profession {
  color: #00adb5;
}

.profession::after {
  content: "🦾";
}

/* Add spacing between the different areas of your main content*/
.main > * + * {
  margin-top: 3rem;
}

/* Add spacing between the navigation links */
/*Add a general color for the navigation links*/
.nav-link {
  padding: 3rem;
  color: #00adb5;
  font-size: 2rem;
}

/* Add specific styling for the :hover and :active state  */
.nav-link:hover {
  color: #692d43;
}

.nav-link:active {
  color: #034e98;
}

/*Use the border property to draw a line over each article of the main content except for the first one*/
.main > * {
  border-top: 0.2rem solid #222831;
  padding: 0 2rem;
}

.main > *:first-child {
  border-top: none;
  padding-top: 2rem;
}

/* Use the display property to show the experience heading and sub heading in one line*/
.experiences-heading {
  display: inline-block;
}

.experiences-sub {
  display: inline-block;
  padding-inline: 2rem;
}

.main article {
  padding-left: 2rem;
}

.article-heading {
  position: relative;
  left: -2rem;
}

.hire-me {
  position: fixed;
  top: 1rem;
  right: 3rem;
  padding: 1rem;
  background-color: rgb(108, 0, 130);
  border-style: solid rgb(11, 138, 134);
  border-radius: 0.5rem;
  color: #ffffff;
}

.heading-group {
  font-size: 8rem;
}

.Main-Heading {
  font-size: 1em;
  margin: auto;
  padding-top: 3rem;
}

.profession {
  position: relative;
  font-size: 0.25em;
}
