g /*----------------general styling---------------------*/

/*Create a global box sizing that uses box-sizing: border-box*/
*,
*::before *::after {
  background-color: #222831;
  box-sizing: border-box;
}

/* Introduce breakpoints for medium and large screens
 Increase the overall font size at both breakpoints*/

@media screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .nav-link + .nav-link {
    margin-left: 7rem;
  }
}

@media screen and (max-width: 768px) {
  .nav-link + .nav-link {
    margin-top: -5rem;
  }
}

@media screen and (max-width: 767px) {
  .nav-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
}

/* Increase the spacing between the main articles beginning with the medium break point */
@media print {
  .main > * + * {
    margin-top: 5rem;
  }
}

/*Define a default font for your document*/
/* The general font family should be inherited from the <html> element*/
html {
  font-family: "Cormorant SC", serif;
  font-size: 20px;
  font: inherit;
}

/*Remove the default margin from the <body> element*/
body {
  margin: 0;
}

h1 {
  font-size: 4rem;
}

/*Define a different font for all heading elements*/

h2,
h3 {
  font-family: "Lora", serif;
  font-size: 2rem;
}

h1,
h2,
h3 {
  color: #00adb5;
}

/*Change the selection style of the document*/
::selection {
  background-color: black;
  color: whitesmoke;
}

/*----------------Specific Styling---------------------*/
/*Specific Styling should be based on classes*/

/*Add a padding to the header and main element within the body*/
.header {
  background-color: black;
  background-image: radial-gradient(
      white,
      rgba(255, 255, 255, 0.2) 2px,
      transparent 40px
    ),
    radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 40px),
    radial-gradient(
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.1) 2px,
      transparent 30px
    );
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-align: center;
  transform: skewY(-8deg);
  width: 100vw;
}

@media print {
  .navigation {
    display: none;
  }
}

.main {
  max-width: 110ch;
  padding: 2rem;
  margin: 0 auto;
}

.profession {
  color: #00adb5;
}

.profession::after {
  content: "🦾";
}

/* Add spacing between the navigation links */
/*Add a general color for the navigation links*/
.nav-link {
  padding: 3rem;
  color: #00adb5;
  font-size: 2rem;
}

/* Add specific styling for the :hover and :active state  */
.nav-link:hover {
  color: #692d43;
}

.nav-link:active {
  color: #034e98;
}

/* Add spacing between the different areas of your main content*/
/*Use the border property to draw a line over each article of the main content except for the first one*/
.main > * {
  border-top: 0.2rem solid #222831;
  padding: 0 2rem;
  margin-top: 3rem;
}

.main > *:first-child {
  border-top: none;
  padding-top: 2rem;
}

.experiences-header {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .experiences-header {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
}

.main article {
  padding-left: 2rem;
}

.article-heading {
  position: relative;
  left: -2rem;
}

@media screen and (max-width: 992px) {
  .hire-me {
    margin: auto;
    width: fit-content;
    margin-top: 1em;
    padding: 1rem;
    background-color: rgb(108, 0, 130);
    border-style: solid light-grey;
    border-radius: 1rem;
    color: #ffffff;
  }
}

@media screen and (min-width: 992px) {
  .hire-me {
    display: none;
  }
  .hire-me2 {
    position: fixed;
    top: 10rem;
    right: 3rem;
    padding: 1rem;
    background-color: rgb(108, 0, 130);
    border-style: solid light-grey;
    border-radius: 1rem;
    color: #ffffff;
    transform: skewY(-8deg);
  }
}

@media print {
  .hire-me {
    display: none;
  }
}

.heading-group {
  font-size: 5rem;
}

.Main-Heading {
  font-size: 1em;
}

.profession {
  font-size: 0.5em;
}

.footer {
  background-color: #222831;
  max-width: 100%;
  padding: 2rem;
  text-align: center;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
  border-radius: 2rem;
}

.button:hover {
  box-shadow: 0 2rem 1rem 0 rgba(160, 160, 160, 0),
    0rem 1rem 1rem 0 rgba(255, 255, 255, 0.363);
}
